<%- headerContent %>
    <main class="container-fluid">
        <div class="row mt-5">
            <div class="col-lg-8 col-md-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h1>分类：<%= category %>
                        </h1>
                        <ul>
                            <% articles.forEach(function(article){ %>
                                <li><a href="../<%= article.name.replace(/\.md$/, '.html') %>">
                                        <%= article.title %>
                                    </a></li>
                                <% }); %>
                        </ul>
                        <a href="分类列表.html">返回分类列表</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- footerContent %>