<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9093386396178901"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>朝代诗人清单</title>
    <link rel="icon" href="../logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../css/style.css">
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <script src="../js/clarity.js"></script>
    <style>
        .poet-list {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
            /* 控制项目之间的间距 */
        }

        .poet-item {
            flex-basis: 30%;
            /* 每个诗人链接所占的宽度 */
            max-width: 30%;
            /* 防止在小屏幕上过度扩展 */
        }

        @media (max-width: 768px) {
            .poet-item {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    </style>
</head>

<body>
    <%- include('../components/header.ejs') %>

        <main class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-8 col-md-12">
                    <h1>朝代诗人清单</h1>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        <% dynastyPoetList.forEach(dynasty=> { %>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= dynasty.dynasty %>
                                        </h5>
                                        <div class="poet-list">
                                            <% dynasty.poets.forEach(poet=> { %>
                                                <div class="poet-item">
                                                    <a href="/sghtml/<%= poet.Name %>.html" class="card-link">
                                                        <%= poet.Name %>
                                                    </a>
                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../components/footer.ejs') %>
</body>

</html>