<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9093386396178901"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>朝代诗人清单</title>
    <link rel="icon" href="../logo.svg" type="image/svg+xml">
    <link rel="stylesheet" href="../css/style.css">
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="../js/clarity.js"></script>
</head>

<body>
    <%- include('../components/header.ejs') %>

        <main class="container-fluid">
            <div class="row mt-5">
                <div class="col-lg-8 col-md-12">
                    <h1>朝代诗人清单</h1>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                        <% dynastyPoetList.forEach(dynasty=> { %>
                            <div class="col">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= dynasty.dynasty %>
                                        </h5>
                                        <ul class="list-unstyled">
                                            <% dynasty.poets.forEach(poet=> { %>
                                                <li><a href="/sghtml/<%= poet.Name %>.html" class="card-link">
                                                        <%= poet.Name %>
                                                    </a></li>
                                                <% }) %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </div>
        </main>

        <%- include('../components/footer.ejs') %>


</body>

</html>